@using WebERP.Extensions
@using WebERP.Models.Compras
@using WebERP.Utils.Identity
@model IEnumerable<WebERP.Models.Compras.Solicitacao>
@{
    ViewData["Title"] = "Solicitações de compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i> Gerenciamento de Solicitações</h1>
        <p>Listagem e gerenciamento de solicitações de compra.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#"></a>Solicitações</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title">
                <h3 class="title">Solicitações</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered table-responsive-lg" id="solicitacoes-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Unidade de Medida</th>
                            <th>Quantidade Solicitada</th>
                            <th>Data de Solicitação</th>
                            <th>Solicitante</th>
                            <th>Status</th>
                            <th style="min-width: 150px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.Produto.Nome</td>
                                <td>@m.Produto.UnidadeDeMedida</td>
                                <td>@m.QuantidadeSolicitada</td>
                                <td>@m.Data.ToString("d")</td>
                                <td>@m.Solicitante.Nome</td>
                                <td>@m.Status</td>
                                <td class="text-right">
                                    @if (m.Status == StatusSolicitacao.Pendente)
                                    {
                                        <button class="btn btn-danger btn-sm js-negar-solicitacao" data-solicitacao-id="@m.Id">
                                            <i class="fa fa-times"></i>Negar
                                        </button>
                                        <a class="btn btn-success btn-sm js-aprovar-solicitacao" data-solicitacao-id="@m.Id">
                                            <i class="fa fa-check"></i>Aprovar
                                        </a>
                                    }
                                    @if (User.IsInAnyRole(ErpRoleGroups.RolesCompras) &&
                                      m.Status == StatusSolicitacao.Orcamentacao)
                                    {
                                        <a class="btn btn-outline-primary btn-sm js-adicionar-orcamento" data-solicitacao-id="@m.Id">
                                            <i class="fa fa-plus"></i>Adicionar orçamento
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* Container da modal de orçamentos para a solicitação *@
<div class="modal fade" id="modal-orcamentos" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-orcamentos-content">

        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/pages/solicitacoes.js"></script>
}
