@model IEnumerable<WebERP.Models.Vendas.Venda>
@{
    ViewData["Title"] = "Vendas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="app-title">
    <div>
        <h1><i class="fa fa-shopping-cart"></i> Gerenciamento de Vendas</h1>
        <p>É nessa area que você controla as vendas da sua empresa.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Vendas</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Vendas</h3>
                <p><a class="btn btn-success icon-btn" asp-controller="Vendas" asp-action="Form"><i class="fa fa-plus"></i>Adicionar Venda</a></p>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered table-responsive-lg" id="vendas-table">
                    <thead>
                        <tr>
                            <th>Nome cliente</th>
                            <th>Contato cliente</th>
                            <th>Valor da venda</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var venda in Model)
                        {
                            <tr>
                                <td>@venda.Cliente.Nome  @venda.Cliente.Sobrenome</td>
                                <td>@venda.Cliente.Email</td>
                                <td>@venda.ValorTotal</td>
                                <td class="text-right">
                                    <a class="btn btn-primary btn-sm" asp-action="Form" asp-route-id="@venda.Id">
                                        <i class="fa fa-pencil"></i>Editar
                                    </a>
                                    <button class="btn btn-danger btn-sm js-delete-cliente" data-user-id="@venda.Id">
                                        <i class="fa fa-trash"></i>Apagar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#vendas-table").DataTable();
        });
    </script>
}

