@model IEnumerable<WebERP.Models.Clientes.Cliente>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-title">
    <div>
        <h1><i class="fa fa-users"></i> Gerenciamento de Clientes</h1>
        <p>É nessa area que você controla os clientes da sua empresa.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Clientes</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Clientes</h3>
                <p><a class="btn btn-success icon-btn" asp-controller="Clientes" asp-action="Form"><i class="fa fa-plus"></i>Adicionar Cliente</a></p>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered table-responsive-lg" id="clientes-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Contato</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cliente in Model)
                        {
                            <tr>
                                <td>@cliente.Nome</td>
                                <td>@cliente.Sobrenome</td>
                                <td>@cliente.Email</td>
                                <td class="text-right">
                                    <a class="btn btn-primary btn-sm" asp-action="Form" asp-route-id="@cliente.Id">
                                        <i class="fa fa-pencil"></i>Editar
                                    </a>
                                    <button class="btn btn-danger btn-sm js-delete-cliente" data-user-id="@cliente.Id">
                                        <i class="fa fa-trash"></i>Apagar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#clientes-table").DataTable();
        });
    </script>
}

