@using WebERP.Models.Compras
@model IEnumerable<WebERP.ViewModels.EstoqueViewModels.ProdutoViewModel>
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-cubes"></i> Gerenciamento de Produtos</h1>
        <p>Listagem, adição e gerenciamento de produtos.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Produtos</h3>
                <p><a class="btn btn-success icon-btn" asp-controller="Products" asp-action="Form"><i class="fa fa-plus"></i>Adicionar Produto</a></p>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered table-responsive-lg" id="product-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Unidade de Medida</th>
                            <th style="max-width: 70px">
                                Mínimo no estoque
                            </th>
                            <th style="max-width: 70px">
                                Quantidade
                            </th>
                            <th style="max-width: 70px">
                                Última Solicitação
                            </th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vm in Model)
                        {
                            <tr>
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="@vm.Produto.Descricao">
                                        @vm.Produto.Nome
                                    </span>
                                </td>
                                <td>@vm.Produto.UnidadeDeMedida</td>
                                <td>@vm.Produto.Minimo</td>
                                <td>
                                    @vm.Produto.Quantidade &nbsp;
                                    @if (vm.Produto.PossuiEstoqueBaixoDoMinimo())
                                    {
                                        <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"
                                           data-toggle="tooltip" data-placement="top" title="Produto com estoque abaixo do mínimo">
                                        </i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (vm.Solicitacao != null)
                                    {
                                        <span class="tipped-tooltip" style="@vm.CorParaStatus()"
                                              data-solicitante="@vm.Solicitacao.Solicitante.Nome"
                                              data-quantidade="@vm.Solicitacao.QuantidadeSolicitada"
                                              data-status="@vm.Solicitacao.Status">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                    }
                                </td>
                                <td class="text-right">
                                    @if (vm.Produto.PossuiEstoqueBaixoDoMinimo() && !vm.PossuiSolicitacaoAtiva())
                                    {

                                        <input type="number" class="form-control js-product-@vm.Produto.Id" placeholder="Qtde." style="max-width: 80px; display: inline-block">
                                        <a class="btn btn-default btn-sm js-gerar-pedido" data-produto-id="@vm.Produto.Id">
                                            <i class="fa fa-file-text-o"></i>Solicitar
                                        </a>
                                    }
                                    <a class="btn btn-primary btn-sm" asp-action="Form" asp-route-id="@vm.Produto.Id">
                                        <i class="fa fa-pencil"></i>Editar
                                    </a>
                                    <button class="btn btn-danger btn-sm js-delete-product" data-user-id="@vm.Produto.Id">
                                        <i class="fa fa-trash"></i>Apagar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $('#product-table').DataTable();

        $(".js-gerar-pedido").click(function (e) {
            var productId = $(e.target).attr("data-produto-id");
            var quantidade = $($(".js-product-" + productId)[0]).val();
            var dto = {
                "ProductId": productId,
                "Quantidade": quantidade
            };

            swal({
                title: "Registar pedido?",
                text: "Confirme o registro de pedido.",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "Sim, registre o pedido!",
                cancelButtonText: "Não, cancele por favor!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '/api/Solicitacao/AdicionarSolicitacao',
                        type: 'POST',
                        data: dto,
                        success: function () {
                            swal({
                                title: "Registrado!",
                                text: "A solicitação foi registrada com sucesso.",
                                type: "success"
                            }, function (isConfirm) {
                                location.reload();
                            });
                        },
                        error: function () {
                            swal({
                                title: "Algo deu errado. :(",
                                text: "Algo aconteceu enquanto a operação era executada.",
                                type: "error"
                            });
                        }
                    });
                } else {
                    swal("Cancelado", "A solicitação não foi registrada, não se preocupe. :)", "error");
                }
            });
        });

        //Utilizando tooltip para mostrar os dados da última solicitação para determinado produto
        $(document).ready(function () {
            Tipped.create('.tipped-tooltip', function (element) {
                var content = "Solicitante: " + $(element).data('solicitante') + "</br>";
                content += "Quantidade: " + $(element).data('quantidade') + "</br>";
                content += "Status: " + $(element).data('status');

                return {
                    title: "Última Solicitação",
                    content: content
                };
            },{
                skin: 'light'
             });
        });
    </script>
}
